.wallpaper filter=lfs diff=lfs merge=lfs -text
.wallpaper/1390920427025.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/140471.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1408906277712.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1445906474111.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1490672354805.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1505734811063.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/chip_fall.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_36.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_37.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_4.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/(wide)[[:space:]]64.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1487404645380.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1493869717670.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/Aesthetic[[:space:]]31.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_7.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/landscape_81.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/toon_sky_clouds.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/taipei.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1378870852724.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1379564865984.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/a[[:space:]]bar[[:space:]]under[[:space:]]the[[:space:]]sea.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_2.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_33.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_53.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/dragon_wall.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/UdR5dcW.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/wallhaven-479766.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1378858118108.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/city_in_the_distance.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_1.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/Comfy[[:space:]]25.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/Sci-Fi[[:space:]](106).jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/Sci-Fi[[:space:]](92).jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/tokyo.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1394949211724.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/landscape_47.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/21169451_1015543403086594(...).jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/536nxw.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/art_22.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_26.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/i_am_root.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/red_mountain.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/white_dragon.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/147725791272883.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1490476715594.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/american_city.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/city_road_cars_traffic_li(...).jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_34.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/emersing_novel.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/rivendell_5.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/Sci-Fi[[:space:]](78).jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_28.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/dead_pikachu.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/wall.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/1477967366315.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/20930766_1015540108210094(...).jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/Comfy[[:space:]]28.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/landscape_84.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/mr_robot.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1505759278762.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/waterfall_arch.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/an_era_gone_by.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/art_15.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/ben-neale-297658-unsplash.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/city.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/pink-mountain.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/rivendell.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1412117475920.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1485051712534.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/21169418_1015543407330094(...).jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/antlers.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/Comfy[[:space:]]3.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/dragon.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/Sci-Fi[[:space:]](37).jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1479665698114.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1494113660348.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/20883193_1015540105292594(...).jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/21169151_1015543403246094(...).jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_35.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/green_forest.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/grumpy_cat.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/watercolors.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/1492657237542.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1503287930788.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/cityscape_31.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/landscape_9.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/Sci-Fi[[:space:]](207).jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/sun.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/1505776767407.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/backg.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/c.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/cyberpunk.jpg filter=lfs diff=lfs merge=lfs -text
.wallpaper/ghidorah.png filter=lfs diff=lfs merge=lfs -text
.wallpaper/Sci-Fi[[:space:]](56).jpg filter=lfs diff=lfs merge=lfs -text
