[user]
	email = tnguye20@uvm.edu
	name = Thang Nguyen
; [diff]
; 	tool = meld
; [difftool "meld"]
; 	path = /usr/bin/meld
; 	cmd = meld \"$LOCAL\" \"$REMOTE\"
; [difftool]
; 	prompt = false
[merge]
	tool = meld
[mergetool "meld"]
	path = /usr/bin/meld
[mergetool]
	prompt = false
[diff]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = false
; [merge]
; 	tool = vimdiff
; 	conflictstyle = diff3
; [mergetool]
; 	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	hookspath = .githooks
