/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}
//@theme "/home/tnguye20/.local/share/rofi/themes/spotlight.rasi"
//@theme "/home/tnguye20/.local/share/rofi/themes/windows11-list-dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/home/tnguye20/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/home/tnguye20/.local/share/rofi/themes/spotlight.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
//@theme "/home/tnguye20/.local/share/rofi/themes/squared-everforest.rasi"
//@theme "/home/tnguye20/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/tnguye20/.local/share/rofi/themes/squared-everforest.rasi"
//@theme "/usr/share/rofi/themes/paper-float.rasi"
//@theme "/usr/share/rofi/themes/Paper.rasi"
//@theme "/home/tnguye20/.local/share/rofi/themes/squared-everforest.rasi"
//@theme "/home/tnguye20/.local/share/rofi/themes/squared-nord.rasi"
@theme "/home/tnguye20/.local/share/rofi/themes/squared-everforest.rasi"
